.header {
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

li a {
  display: block;
  color: #314259;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

li a:hover {
  color: #e87c83;
  transition: all 0.2s ease-in-out;
}

.nav__item,
.lang__flags {
  color: #314259;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  margin-right: 2rem;
}

.nav__list {
  display: flex;
}

.nav__nav {
  flex: 1;
  display: inline-flex;
  justify-content: center;
}

.nav__flag {
  text-align: right;
}

.flag {
  margin-right: 5px;
}
